/* General Typography */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
}

h1 {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.4em;
}

h2 {
  margin: 5px 0;
  font-weight: 300;
  font-size: 18px;
}

h3 {
  margin: 10px 0;
}

/* Layout */

body {
  margin: 0;
}

.l--page {
  width: 970px;
  margin-left: auto;
  margin-right: auto;
}

#container {
  /*margin: 0px auto;*/
  /*width: 970px;*/
}

/* Buttons */

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  font-size: 23px;
  border-radius: 3px;
  margin: 0 2px;
  background-color: #e4e4e4;
  outline: none;
  border: none;
  padding: 0;
}

.button i {
  font-size: 18px;
  color: #666;
}

.hide-button {
  cursor: pointer;
  padding: 6px 4px 8px 4px;
  border-left: 1px solid #2c2c2c;
  border-bottom: 1px solid #2c2c2c;
  position: fixed;
  right: 0px;
  background: #1a1a1a;
  color: #eee;
  font: 11px 'Lucida Grande', sans-serif;
  display: table;
}

/* Header */

header {
  border-bottom: solid 1px rgba(0,0,0,0.4);
  background-color: #36474f;
  color: white;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  position: relative;
}

header h1 {
  margin-top: 60px;
  margin-bottom: 40px;
  -webkit-font-smoothing: antialiased;
}

/* Top Controls */

#top-controls {
  border-bottom: 1px solid #ddd;
  padding: 24px 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  background: white;
}

#top-controls .container {
  display: flex;
  justify-content: space-between;
}

#top-controls .timeline-controls {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#top-controls .timeline-controls .circle-button {
  cursor: pointer;
  margin: 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 50%;
  outline: none;
}

#top-controls .timeline-controls .circle-button .material-icons {
  color: #666;
}

#top-controls .timeline-controls .circle-button:hover {
  /*border: 1px solid #ccc;*/
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

#top-controls .timeline-controls .circle-button.small {
  width: 44px;
  height: 44px;
}

#top-controls .timeline-controls .circle-button.large {
  width: 58px;
  height: 58px;
}

#top-controls .timeline-controls .circle-button.large i {
  font-size: 36px;
}

#play-pause-button i:nth-of-type(2) {
  display: none;
}

#play-pause-button.playing i:nth-of-type(1) {
  display: none;
}

#play-pause-button.playing i:nth-of-type(2) {
  display: inherit;
}

#top-controls .control {
  width: 300px;
  margin-left: 30px;
  margin-top: 6px;
}

#top-controls .control .label,
#top-controls .control label {
  color: #aaa;
  font-size: 12px;
  display: block;
  margin-bottom: 6px;
  font-weight: 300;
}

#top-controls .control .value {
  font-size: 24px;
  margin: 0;
  font-weight: 300;
}

#top-controls .control .select {
  position: relative;
}

#top-controls .control select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  background-color: white;
  border: none;
  border-radius: 0;
  padding: 6px 0;
  width: 100%;
  font-size: 13px;
  border-bottom: solid 1px #eee;
  color: #333;
}

#top-controls .control .select::after {
  class: "material-icons";
  content: "arrow_drop_down";
  color: #999;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  position: absolute;
  right: 0;
  top: 6px;
}



/* Main Part*/

#main-part {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.vcenter {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.data-thumbnail {
  cursor: pointer;
  width:40px;
  height:40px;
  margin: 2px 12px 2px 2px;
  opacity: 0.5;
  border: 1px solid black;
}

.data-thumbnail:hover {
  border: 3px solid black;
  margin: 0 10px 0 0;
}

.data-thumbnail.selected {
  border: 3px solid black;
  opacity: 1;
  margin: 0 10px 0 0;
}

#main-part .column {
  padding-top: 20px;
}

.column .label {
  margin-bottom: 30px;
}

#main-part .title {
  display: flex;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.main-label {
  font-size: 14px;
}

.node rect {
  fill: white;
  stroke-width: 0;
}

.node.inactive {
  opacity: 0.4;
}

.node.hovered {
  opacity: 1.0;
}

.canvas canvas {
  position: absolute;
  top: -3px;
  left: -3px;
  border: 3px solid black;
}

.canvas.inactive canvas {
  opacity: 0.4;
  border: 0;
  top: 0;
  left: 0;
}

.canvas.hovered canvas {
  opacity: 1.0;
  border: 3px solid #666;
  top: -3px;
  left: -3px;
}

svg text {
  dominant-baseline: middle;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

.axis path {
  display: none;
}

.tick line {
  opacity: 0.2;
}

canvas {
  display: block;
  image-rendering: crisp-edges;
}

.link {
  fill: none;
  stroke: #aaa;
  stroke-width: 1;
}

#hovercard {
  display: none;
  position: absolute;
  padding: 5px;
  border: 1px solid #aaa;
  z-index: 1000;
  background: #fff;
  cursor: default;
  border-radius: 5px;
  left: 240px;
  width: 175px;
  top: -20px;
}

#hovercard input {
  width: 38px;
}

.node {
  cursor: default;
}

#node-output {
  font-weight: bold;
}

g.column rect {
  stroke: none;
}

#heatmap {
  position: relative;
  float: left;
}

#network {
  position: relative;
}

#time-matrix-container {
  display: none;
}

#time-matrix {
  width: 100%;
  overflow-x: auto;
}

#time-matrix text {
  alignment-baseline: hanging;
  text-anchor: end;
  font-size: 9px;
  font-family: 'Roboto', sans-serif;
}

#num-layers {
  margin-right: 10px;
}

.hidden-layers .title {
  position: relative;
  border-bottom: solid 1px#ddd;
  padding-bottom: 14px;
}

.hidden-layers .title .control {
  display: flex;
  position: absolute;
  right: 0;
}

.hidden-layers .title .control .button {
  margin-top: -2px;
}

.plus-minus-neurons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: -58px;
  width: 55px;
  height: 44px;
  font-size: 12px;
}

g.train circle {
  stroke: white;
  stroke-width: 1;
  stroke-opacity: 0.8;
  fill-opacity: 0.9;
}

g.test circle {
  stroke-width: 1;
  stroke: black;
  stroke-opacity: 0.6;
  fill-opacity: 0.9;
}


/* Footer */

footer {
  border-top: solid 1px #eee;
  color: #ccc;
  font-weight: 300;
  padding: 40px 0;
  margin-top: 80px;
  height: 30px;
}

footer svg {
  float: left;
  width: 78px;
  height: 30px;
  fill: #aaa;
}

footer .links {
  float: left;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  margin-left: 20px;
}

footer .links a {
  margin-right: 15px;
  text-decoration: none;
  color: #999;
}
