/* General Typography */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
}

h1 {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.4em;
}

h2 {
  margin: 5px 0;
  font-weight: 300;
  font-size: 18px;
}

h3 {
  margin: 10px 0;
}

/* Layout */

body {
  margin: 0;
}

.l--page {
  width: 970px;
  margin-left: auto;
  margin-right: auto;
}

#container {
  /*margin: 0px auto;*/
  /*width: 970px;*/
}

/* Buttons */

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 18px;
  border-radius: 50%;
  margin: 0 1px;
  background-color: rgba(0,0,0,0.05);
  outline: none;
  border: none;
  padding: 0;
  color: #666;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgba(0,0,0,0.1);

}

.button:active {
  background-color: rgba(0,0,0,0.15);
  color: #333;
}

.button i {
  font-size: 16px;
}

.hide-button {
  cursor: pointer;
  padding: 6px 4px 8px 4px;
  border-left: 1px solid #2c2c2c;
  border-bottom: 1px solid #2c2c2c;
  position: fixed;
  right: 0px;
  background: #1a1a1a;
  color: #eee;
  font: 11px 'Lucida Grande', sans-serif;
  display: table;
}

/* Header */

header {
  border-bottom: solid 1px rgba(0,0,0,0.4);
  background-color: #36474f;
  color: white;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  position: relative;
}

header h1 {
  margin-top: 60px;
  margin-bottom: 40px;
  -webkit-font-smoothing: antialiased;
}

/* Top Controls */

#top-controls {
  border-bottom: 1px solid #ddd;
  padding: 24px 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  background: white;
}

#top-controls .container {
  display: flex;
  justify-content: space-between;
}

#top-controls .timeline-controls {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#top-controls .timeline-controls .circle-button {
  cursor: pointer;
  margin: 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 50%;
  outline: none;
}

#top-controls .timeline-controls .circle-button .material-icons {
  color: #666;
}

#top-controls .timeline-controls .circle-button:hover {
  /*border: 1px solid #ccc;*/
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

#top-controls .timeline-controls .circle-button.small {
  width: 44px;
  height: 44px;
}

#top-controls .timeline-controls .circle-button.large {
  width: 58px;
  height: 58px;
}

#top-controls .timeline-controls .circle-button.large i {
  font-size: 36px;
}

#play-pause-button i:nth-of-type(2) {
  display: none;
}

#play-pause-button.playing i:nth-of-type(1) {
  display: none;
}

#play-pause-button.playing i:nth-of-type(2) {
  display: inherit;
}

#top-controls .control {
  width: 300px;
  margin-left: 30px;
  margin-top: 6px;
}

#top-controls .control .label,
#top-controls .control label {
  color: #aaa;
  font-size: 12px;
  display: block;
  margin-bottom: 6px;
  font-weight: 300;
}

#top-controls .control .value {
  font-size: 24px;
  margin: 0;
  font-weight: 300;
}

#top-controls .control .select {
  position: relative;
}

#top-controls .control select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  background-color: white;
  border: none;
  border-radius: 0;
  padding: 6px 0;
  width: 100%;
  font-size: 14px;
  border-bottom: solid 1px #eee;
  color: #333;
}

#top-controls .control .select::after {
  class: "material-icons";
  content: "arrow_drop_down";
  color: #999;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  position: absolute;
  right: 0;
  top: 6px;
}


/* Main Part*/

#main-part {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.vcenter {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.data-thumbnail {
  cursor: pointer;
  width:40px;
  height:40px;
  margin: 2px 12px 2px 2px;
  opacity: 0.5;
  border: 1px solid black;
}

.data-thumbnail:hover {
  border: 3px solid black;
  margin: 0 10px 0 0;
}

.data-thumbnail.selected {
  border: 3px solid black;
  opacity: 1;
  margin: 0 10px 0 0;
}

#main-part .column {
}

.column .label {
  margin-bottom: 30px;
  font-weight: 300;
  color: #666;
  font-size: 14px;
  line-height: 1.5em;
}

#main-part .title {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.main-label {
  font-size: 14px;
}

.node rect {
  fill: white;
  stroke-width: 0;
}

.node.inactive {
  opacity: 0.4;
}

.node.hovered {
  opacity: 1.0;
}

.canvas canvas {
  position: absolute;
  top: -3px;
  left: -3px;
  border: 3px solid black;
}

.canvas.inactive canvas {
  opacity: 0.4;
  border: 0;
  top: 0;
  left: 0;
}

.canvas.hovered canvas {
  opacity: 1.0;
  border: 3px solid #666;
  top: -3px;
  left: -3px;
}

svg text {
  dominant-baseline: middle;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

.axis path {
  display: none;
}

.tick line {
  opacity: 0.2;
}

canvas {
  display: block;
  image-rendering: crisp-edges;
}

.link {
  fill: none;
  stroke: #aaa;
  stroke-width: 1;
}

#hovercard {
  display: none;
  position: absolute;
  padding: 5px;
  border: 1px solid #aaa;
  z-index: 1000;
  background: #fff;
  cursor: default;
  border-radius: 5px;
  left: 240px;
  width: 175px;
  top: -20px;
}

#hovercard input {
  width: 38px;
}

.node {
  cursor: default;
}

#node-output {
  font-weight: bold;
}

g.column rect {
  stroke: none;
}

#heatmap {
  position: relative;
  float: left;
}

#network {
  position: relative;
}

#time-matrix-container {
  display: none;
}

#time-matrix {
  width: 100%;
  overflow-x: auto;
}

#time-matrix text {
  alignment-baseline: hanging;
  text-anchor: end;
  font-size: 9px;
  font-family: 'Roboto', sans-serif;
}

#num-layers {
  margin-right: 10px;
}

.hidden-layers .title {
  position: relative;
  border-bottom: solid 1px #ddd;
  padding-bottom: 12px;
}

.hidden-layers .title .control {
  display: flex;
  position: absolute;
  right: 0;
}

.hidden-layers .title .control .button {
  margin-top: -2px;
}

.plus-minus-neurons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: -58px;
  width: 55px;
  height: 44px;
  font-size: 12px;
}

g.train circle {
  stroke: white;
  stroke-width: 1;
  stroke-opacity: 0.8;
  fill-opacity: 0.9;
}

g.test circle {
  stroke-width: 1;
  stroke: black;
  stroke-opacity: 0.6;
  fill-opacity: 0.9;
}


/* Footer */

footer {
  border-top: solid 1px #eee;
  color: #ccc;
  font-weight: 300;
  padding: 40px 0;
  margin-top: 80px;
  height: 30px;
}

footer svg {
  float: left;
  width: 78px;
  height: 30px;
  fill: #aaa;
}

footer .links {
  float: left;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  margin-left: 20px;
}

footer .links a {
  margin-right: 15px;
  text-decoration: none;
  color: #999;
}

/* Fonts */
/* From:   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Material+Icons" rel="stylesheet" type="text/css"> */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v13/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/0eC6fl06luXEYWpBSJvXCIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/-L14Jk06m6pUHB-5mXQQnYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/I3S1wsgSg9YCurV6PUkTOYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/NYDWBdD4gIq26G5XYbHsFIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Pru33qjShpZSmG3z6VYwnYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/sTdaA6j0Psb920Vjv-mrzH-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/uYECMKoHcO9x1wdmbyHIm3-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/tnj4SB6DNbdaQnsM8CFqBX-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/_VYFx-s824kXq_Ul2BHqYH-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/NJ4vxlgWwWbEsv18dAhqnn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/Ks_cVxiCiwUWVsFWFA3Bjn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/ZLqKeelYbATG60EpZBSDy4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/oHi30kwQWvpCWqAhzHcCSIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/rGvHdJnr2l75qb0YND9NyIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/mx9Uck6uB63VIKFYnEMXrYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/mbmhprMH69Zi6eEPBYVFhYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/oOeFwZNlrTefzLYmlVV1UIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
