/* TODO outlines (on focus) are still default color */

/* Buttons */

.mdl-button--fab.mdl-button--colored,
.mdl-button--fab.mdl-button--colored:hover,
.mdl-button--fab.mdl-button--colored:active,
.mdl-button--fab.mdl-button--colored:focus,
.mdl-button--fab.mdl-button--colored:focus:not(:active) {
    background: #183D4E;
}

/* Checkbox */

#main-part .mdl-checkbox__box-outline {
  border-color: rgba(0, 0, 0, 0.5);
}

#main-part .mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
  background-color: #183D4E;
}

#main-part .mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
  background-color: #183D4E;
}

#main-part .mdl-checkbox.is-checked .mdl-checkbox__box-outline {
  border-color: #183D4E;
}

#main-part .mdl-checkbox__ripple-container .mdl-ripple {
  background-color: #183D4E;
}

/* Slider */

#main-part .mdl-slider.is-upgraded {
  color: #183D4E;
}

#main-part .mdl-slider__background-lower {
  background-color: #183D4E;
}

#main-part .mdl-slider.is-upgraded::-webkit-slider-thumb {
  background-color: #183D4E;
}

#main-part .mdl-slider.is-upgraded::-moz-range-thumb {
  background-color: #183D4E;
}

#main-part .mdl-slider.is-upgraded::-ms-thumb {
  background-color: #183D4E;
}

#main-part .mdl-slider.is-upgraded.is-lowest-value::-webkit-slider-thumb {
  border-color: #183D4E;
}

#main-part .mdl-slider.is-upgraded.is-lowest-value::-moz-range-thumb {
  border-color: #183D4E;
}
/* Keep grey focus circle for non-start values */
#main-part .mdl-slider.is-upgraded:focus:not(:active)::-webkit-slider-thumb {
  box-shadow: 0 0 0 10px rgba(0,0,0, 0.12);
}
