body {
  font-family: Roboto;
  margin: 0;
}

/* Site Header */

header {
  height: 60px;
  border-bottom: solid 1px #eee;
  color: white;
  background-color: #FB8C00;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

header h2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 60px;
  margin: 0 0 0 24px;
  opacity: 0.7;
}

/* Footer */
footer {
  border-top: solid 1px #eee;
  color: #ccc;
  font-weight: 300;
  padding: 40px 0;
}
footer .layout--page {
  position: relative;
}

footer svg {
  width: 78px;
  height: 30px;
  fill: #aaa;
}

footer .links {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 13px;
}
footer .links a {
  margin-left: 12px;
  text-decoration: none;
  color: #999;
}
